/* Background */
#about-section {
  background: rgb(113, 9, 121);
  background: linear-gradient(90deg, rgba(113, 9, 121, 1) 0%, rgba(107, 10, 118, 1) 0%, rgba(100, 11, 114, 1) 0%, rgba(67, 18, 95, 1) 0%, rgba(41, 23, 80, 1) 0%, rgba(0, 32, 57, 1) 0%, rgba(0, 20, 36, 1) 51%, rgba(0, 20, 36, 1) 57%, rgba(0, 0, 0, 1) 100%, rgba(0, 0, 0, 1) 100%);
  position: relative;
}

body {
  min-height: 2px;
  width: 100%;
  width: 100vw;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

/* Little box with text */
.blockabout {
  margin-top: 100px;
  padding: 20px;
  background: rgb(238, 232, 232);
  font-family: Guppo;
  border-radius: 60px;
  box-shadow: 10px 5px 20px 4px black;
}

.blockabout-inner {

  font-family: Gruppo;
  padding: 20px;
  border: 1px solid rgba(93, 39, 181, 0.1);
  border-radius: 50px;
}



/* Book Me Button */
.rey-btn {
  border: 2px solid #070707;
  padding: 10px 40px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 13px;
  font-weight: 700;
  border-radius: 50px;
  transition: all 0.3s;
}

.container-fluid {
  font-family: Gruppo;


}

#header {
  position: sticky;
  overflow: hidden;
}

#menu-list1 a {
  color: rgb(143, 142, 142);
}

.navbar-brand {
  font-family: Major Mono Display;
  color: rgb(142, 95, 24);
}

.collapse ul li a {
  font-family: Gruppo;
  letter-spacing: 0.5px;    
 
}


.scrolled {
  backdrop-filter: blur(20px);
}

.scrolled .navbar-brand {
  color: rgb(142, 95, 24);
  font-weight: bold;
  backdrop-filter: blur(20px);
}

.scrolled #menu-list1 li a{
  color: rgb(142, 95, 24);
}

h2{
  font-family: Gruppo;
  font-size: 60px;
  color:transparent;
  text-align: center;
}

.subheading{
  display: flex;
  justify-content: center;
  font-family: Gruppo;

  color: gray;
}

.list-inline{
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  font-size: 70px;
  margin-right: 60px;
  color: gray;
}


section.resume-section {
  display: flex;
  justify-content: center;
  margin-top: 20rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  max-width: 75rem;
  font-family: Gruppo;
  color: gray;
}
section.resume-section .resume-section-content {
  width: 100%;
}

.container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}


.w-100 {
  display: block;
  transition: .4s ease;
  backface-visibility: hidden;
  cursor: pointer;
}

.overlay{
  background-color: rgb(142, 95, 24);;
}

.w-100:hover {
  opacity: 0.4;
  background: transparent;
  padding: 20px;
  border-radius: 60%;
}

/* footer

footer {
  margin-top: 100px;
  border: 2px solid black;
  width: 100%;
  background-color: black;
  padding-top: 10px;
  color: white;
}

p {
  font-size: 13px;
  padding-left: 10px;
}

a {
  padding: 10px;
  font-size: 10px;
  font-size: 13px;
}

.last {
  display: flex;
  justify-content: center;
  padding-left: 40px;
  padding-right: 40px;
} */


@media (max-width:279px){
  .list-inline{
    margin-top: 80px;
    margin-left:0px;
    font-size: 40px;
    padding:20px;
    color: gray;
  }
  #profile img{
    margin-top: 50px;
  }
  h1{
    font-size: 10px;
  }
}

@media (min-width:280px) and (max-width:325px){
  .list-inline{
    margin-top: 80px;
    margin-left:0px;
    font-size: 60px;
    padding:20px;
    color: gray;
  }
  #profile img{
    margin-top: 50px;
  }
}

@media (min-width:326px) and (max-width:400px){
  .list-inline{
    margin-top: 80px;
    margin-left:30px;
    font-size: 70px;
    color: gray;
  }
  #profile img{
    margin-top: 50px;
  }
}

@media (min-width:401px) and (max-width:767px){
  .list-inline{
    margin-top: 80px;
    margin-left:40px;
    font-size: 70px;
    padding:20px;
    color: gray;
  }
  #profile img{
    margin-top: 50px;
  }
}

@media (min-width: 768px) {
  section.resume-section {
    min-height: 100vh;
  }
  #profile img{
    margin-top: 50px;
  }
}
@media (min-width: 820px) and (max-width:950px){
.list-inline{
  margin-top: 80px;
  margin-left:100px;
  font-size: 70px;
  padding:20px;
  color: gray;
}
#profile img{
  margin-top: 50px;
}
}

@media (min-width:951px){
  .list-inline{
    margin-top: 120px;
    margin-left:100px;
    font-size: 70px;
    padding:20px;
    color: gray;
  }
  #profile img{
    margin-top: 50px;
  }
}

@media (min-width: 992px) and (max-width: 1059px) {
  section.resume-section {
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  #profile img{
    margin-top: 50px;
  }
}

@media (min-width: 1060px) and (max-width: 1199px) {
  .list-inline{
    margin-top: 80px;
    margin-left:200px;
    font-size: 70px;
    padding:20px;
    color: gray;
  }
  #profile img{
    margin-top: 50px;
  }
}

@media (min-width: 1200px){

  .list-inline{
    margin-top: 80px;

    font-size: 70px;
    padding:20px;
    color: gray;
  }
  #profile img{
    margin-top: 50px;
  }

}